/* Keyframe animations */

$time: 2s;
$timeFunction: ease-out;
$base-bg: #232523;
$dark-bg: #020202;
$text-color: #afafaf;
$bright-text: #ededed;
$purple: hsl(311, 85%, 25%);

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@mixin fade-in($time: $time, $timeFunction: $timeFunction) {
    opacity: 0;
    transition: opacity $time $timeFunction;

    &.active {
        animation: fadeIn $time forwards;
    }
}

@mixin fade-in-up($time: $time, $timeFunction: $timeFunction) {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity $time $timeFunction, transform $time $timeFunction;

    &.active {
        animation: fadeInUp $time forwards;
    }
}

@mixin fade-in-down($time: $time, $timeFunction: $timeFunction) {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity $time $timeFunction, transform $time $timeFunction;

    &.active {
        animation: fadeInDown $time forwards;
    }
}

@mixin fade-in-right($time: $time, $timeFunction: $timeFunction) {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity $time $timeFunction, transform $time $timeFunction;

    &.active {
        animation: fadeInRight $time forwards;
    }
}

.animate {
    @include fade-in();

    &.fade-in {
        @include fade-in();
    }

    &.fade-in-up {
        @include fade-in-up();
    }

    &.fade-in-down {
        @include fade-in-down();
    }

    &.find-in-right {
        @include fade-in-up();
    }
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: $base-bg;

    p {
        color: #efefef;
        font-weight: 200;
        font-size: clamp(1rem, 1.2vw, 1.25rem);
        text-align: center;
        margin: 80px auto;
    }

    ;

    h1,
    h2,
    h3 {
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        font-weight: 600;
        text-shadow: 0 -15px 20px #3b3b3b;
        font-size: clamp(2rem, 7vw, 4.5rem); // Responsive font-size for h1
    }

    h2 {
        font-weight: 100;
        text-shadow: 0 15px 20px #3b3b3b;
        font-size: clamp(1.5rem, 5vw, 3.5rem); // Responsive font-size for h2
    }

    h3 {
        font-weight: 100;
        text-shadow: 0 0 35px #efefef;
        font-size: clamp(1.4rem, 4vw, 3rem);
    }
}

.centre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#landing-area {
    height: 100vh;
    font-size: 4.5em;
    background-color: $purple;
    color: $text-color;

    img {
        scale: 50%;
        padding: 0;
        margin: 0;
        border: solid thin transparent;
        border-radius: 25%;
    }

}

#about {
    padding-top: 50px;
    font-size: 3.5em;
    background-color: #232523;
    color: $text-color;

    div>p {
        max-width: 80%;
    }
}

#buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $base-bg;
    color: $text-color;
    margin-bottom: 35px;
    flex-wrap: wrap;

    .fetch-btn {
        background-color: hsl(311, 85%, 25%);
        border: solid thin transparent;
        border-radius: 15px;
        padding: 20px 35px;
        margin: 20px 30px;
        color: $text-color;
        font-size: 24px;
        font-weight: 500;
        transition: border-color 0.8s $timeFunction, box-shadow 0.8s $timeFunction;
        width: 250px;

        &:hover {
            border-color: #afafaf;
            box-shadow: 0 0 20px #afafaf;
            cursor: pointer;
        }
    }

    #playlists {
        display: none;
    }

}

#profile-area {

    display: flex;
    justify-content: center;
    align-items: center;

    #profile-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 80%;

        img {
            width: 100%;
            border: solid 2px $purple;
            box-shadow: 0 0 20px $purple;
            border-radius: 25%;
        }

        p {
            text-align: start;
            margin: 10px 0;
        }

    }
}

.loading-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #loading {
        scale: 1.5;
    }

}

#playlist-area {

    margin: 0;

    ul {
        list-style: none;
        width: 100%;
        padding: 0;

        li {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: solid thin $purple;
            padding: 20px 20px 10px;
            align-items: flex-start;

            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -25px;
                left: 0;
                width: 100%;
                height: 25px;
                background: linear-gradient(to bottom, $purple, transparent);
                pointer-events: none;
            }

            >* {
                display: inline;
                padding: 10px 25px 5px;
                margin: 0;
            }

            h4 {
                font-weight: 700;
                font-size: 1.2rem;
                color: $bright-text;
            }

            button {
                background-color: $dark-bg;
                border: solid thin transparent;
                border-radius: 10px;
                color: $bright-text;
                font-weight: 600;
                padding: 5px 10px;
                width: 78px;
                height: 48px;
                margin-left: auto;
                transition: border-color $time $timeFunction, color 0.8s $timeFunction, box-shadow 0.8s $timeFunction;

                &:hover {
                    border-color: $purple;
                    color: purple;
                    box-shadow: 0 0 10px $purple;
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    background-color: $base-bg;
    color: $text-color;

    p {
        margin: 0;
        padding: 50px 20px;
        width: fit-content;
        text-align: left;
    }
}